@import '@/styles/base.scss';

.navigate {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;


  // 返回按钮
  .navigateBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    z-index: 1;


    .backImg {
      height: 35px;
      width: 20px;

      position: absolute;
      bottom: 22px;
      left: 30px;
    }
    
  }

  .navigateText {
    width: 100%;
    position: absolute;
    bottom: 16px;
    text-align: center;
    
    font-size: 37px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #1B1B1B;
    z-index: 0;
  }
}
